@model WebMvc.Models.User

<h1>Create User</h1>

<div class="row mt-3">
    <div class="col-12 text-center">
        @using (Html.BeginForm("Create", "Account", FormMethod.Post))
        {
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Firstname", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.LastName, new { placeholder = "Lastname", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.UserName, new { placeholder = "Username", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.Role, new List<SelectListItem>()
                   {
                        new SelectListItem {Text = "Kitchen", Value = "kitchen"},
                        new SelectListItem {Text = "Restaurant", Value = "restaurant"}
                   }, new { @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        }

        <partial name="_ValidationSummary" />
    </div>

    <div class="col-12 text-left">
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>