@model WebMvc.ViewModels.MenuViewModel
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

<h1>Menu Panel</h1>

<div class="col-12 text-left">
    @Html.ActionLink("Create Menu Item", "CreateItem", "Menu", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Create Menu Type", "CreateType", "Menu", null, new { @class = "btn btn-success pl-2" })
</div>

<partial name="_MenuType" model="Model" />

@foreach (var item in Model.MenuItem)
{
<div id="item-@item.Id" class="row text-center">
    <div class="col-md-3 col-12 mb-3">
       <h6>Name:</h6> @item.Name
    </div>
    <div class="col-md-2 col-12 mb-3">
       <h6>Price:</h6> @item.Price$
    </div>
    <div class="col-md-5 col-12 mb-3">
        <h6>Description:</h6> @item.Description
    </div>
    <div class="col-md-2 col-12 mb-3">
        <button id="delete-@item.Id" class="btn btn-danger">Delete</button>
    </div>
    <script>
        $(document).ready(function () {
            $("#delete-@item.Id").click(function () {
                var itemId = @item.Id;

                    $.ajax({
                        type: "POST",
                        url: "Menu/DeleteItem",
                        data: JSON.stringify(itemId),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        failure: function (response) {
                            console.log(response);
                        },
                        complete: function () {
                            $("#item-@item.Id").remove();
                        }
                    });
            });
        });
    </script>
</div>
}


 